@keyframes bounceIn {
    0% {
        transform: translateY(-1000px);
    }
    60% {
        transform: translateY(30px);
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.bounce-in {
    transform: translateY(-1000px);
    animation: bounceIn ease 1.5s;
    animation-fill-mode: forwards;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: black;
    }
}

header {
  background: linear-gradient(90deg, rgba(248,51,51,1) 0%, rgba(255,152,0,1) 100%, rgba(0,212,255,1) 100%) !important;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: transform 0.3 ease;
}

a:hover {
    font-size: 150%;
    transform: scale(0.95);
}

nav ul li {
    display: inline;
    margin-right: 20px;
    transition: transform 0.3 ease;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3 ease;
}

.Home {
   padding: 50px 20px;
   text-align: center;
   border-bottom: 5px solid orange;
   background-color: #ccc;
}

h1 {
    font-size: 35px;
    font-weight: bold;
    color: orange;
}

p {
    padding: 10px;
    color: gray;
    font-style: italic;
}


.services {
    padding: 50px 20px;
    text-align: center;
    background-color: #ccc;
}

h2 {
    font-size: 35px;
    color: orange;
    font-weight: bold;
}

.services .card {
    display: inline-block;
    width: 30%;
    margin: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.personal-projects {
    padding: 10px;
    text-align: center;
    background-color: #ccc;
    border-top: 5px solid orange;
}

.projects li {
  list-style-type: none;
  text-align: left;
  padding: 5px;
  margin: 20px;
}


.projects a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.contact {
    text-align: center;
    padding: 10px;
    background-color: #ccc;
    border-top: 5px solid orange;
}

.contact-details h3 {
    font-size: 35px;
    color: orange;
    font-weight: bold;
}

.fa {
    width: 30px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
}

